/*The Site Styles for the SublimeCSS website*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*Styles start*/

.pageHeader
{
    width: 100%;
    height: 100%;
    color: #fff;
}

.siteName
{
    font-family: -apple-system, 'avenir next', roboto, ubuntu, 'helvetica neue', helvetica, sans-serif;
    font-size: 2rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    width: 90%;
    box-sizing: content-box;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    line-height: 110%;
    color: #fff;
    height: 100vh;
}

.siteName::first-line
{
    font-size: 4rem;
    line-height: 130%;
}

.innerlink
{
    width: 90% !important;
    font-size: 1rem;
    line-height: 150%;
}


.link
{
    color: #fff;
    padding: 1%;
    display: inline-block;
    border-radius: 10px;
}

.content
{
    font-family: -apple-system, 'avenir next', roboto, ubuntu, 'helvetica neue', helvetica, sans-serif;
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    padding-left: 0rem;
    padding-right: 0rem;
    box-sizing: border-box;
    text-align: center;
    line-height: 110%;
    color: #fff;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.3);
}


h3.content
{
    font-size: 1.5rem;
    border-width: 5px;
    border-style: solid;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}

.lastElm {
    padding-bottom: 3rem;
}

.gridExample {
    border: 3px solid #f8f8f8;
    border-radius: 10px;
    color: #fff;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    background-color: rgba(0,0,0,0.3);
    box-sizing: border-box;
}

.sublimeExample {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

h3.docContent, h4.docContent, h5.docContent {
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    min-height: 20vh;
    margin: 1rem;
    line-height: 120%;
}

h3.docContent
{
    font-size: 3rem;
}

h4.docContent
{
    font-size: 1.5rem;
}

@media screen and (max-width: 425px)
{
    .innerlink
    {
        font-size: 0.7rem;
    }
    .sitename
    {
        font-size: 1.5rem;
    }
    
    .sitename::first-line
    {
        font-size: 3rem;
    }
    
    h3.docContent
    {
        font-size: 2rem;
    }
    
    .sublimeExample div, .sublimeExample a
    {
        font-size: 1rem;
        margin-top: 1rem;
    }
}

.download
{
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    padding: 1rem;
}

@media screen and (min-width: 1300px)
{
    .siteName
    {
        background-image: url(../img/Background-main.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 110%;
        background-clip: border-box;
        background-attachment: fixed;
    }
}

